/* Security-11-2 */
@-moz-document url-prefix("chrome://browser/content/browser.xul") {
  #social-share-button,
  #wrapper-social-share-button {
    display: none !important;
    -moz-user-focus: ignore !important;
  }
}

/* Security-20-2 */
@-moz-document url-prefix("chrome://browser/content/browser.xul") {
  #identity-popup-permissions-content,
  #identity-popup-securityView-body button {
    visibility: collapse !important;
    -moz-user-focus: ignore !important;
  }
}
@-moz-document url-prefix("chrome://browser/content/pageinfo/pageInfo.xul") {
  #permTab,
  #permPanel {
    visibility: collapse !important;
    -moz-user-focus: ignore !important;
  }
}

/* Privacy-5-2 */
/* パスワード保存の設定UIを隠す */
@-moz-document
  url-prefix("chrome://browser/content/preferences/preferences.xul"),
  url-prefix("chrome://browser/content/preferences/in-content/preferences.xul"),
  url-prefix("about:preferences") {
  #passwordsGroup {
    Visibility: collapse !important;
    -moz-user-focus: ignore !important;
  }
}
/* パスワードマネージャのUIを隠す */
@-moz-document url-prefix("chrome://passwordmgr/content/passwordManager.xul") {
  :root > * { display: none !important; }
  #signonsTree,
  #removeSignon,
  #removeAllSignons,
  #togglePasswords {
    display: none !important;
    -moz-user-focus: disabled !important;
  }
}
@-moz-document url-prefix("chrome://passwordmgr/content/passwordManagerExceptions.xul") {
  :root > * { display: none !important; }
  #rejectsTree,
  #removeReject,
  #removeAllRejects {
    display: none !important;
    -moz-user-focus: disabled !important;
  }
}
/* マスターパスワード関連の設定UIを隠す */
@-moz-document url-prefix("chrome://mozapps/content/preferences/changemp.xul") {
  :root > * { display: none !important; }
  #pw1,
  #pw2,
  #pwmeter {
    display: none !important;
    -moz-user-focus: disabled !important;
  }
}
/* Hide context menu item */
@-moz-document url-prefix("chrome://browser/content/browser.xul") {
  #fill-login {
    display: none !important;
    -moz-user-focus: disabled !important;
  }
}

/* Privacy-18-2 */
@-moz-document
  url-prefix("chrome://browser/content/preferences/in-content/preferences.xul"),
  url-prefix("about:preferences") {
  #dataChoicesTab,
  #dataChoicesPanel {
    visibility: collapse !important;
    -moz-user-focus: ignore !important;
  }
}

/* Privacy-20-4 */
@-moz-document
  url-prefix("chrome://browser/content/preferences/in-content/preferences.xul"),
  url-prefix("about:preferences") {
  #trackingGroup {
    visibility: collapse !important;
    -moz-user-focus: ignore !important;
  }
}

/* Privacy-25-2 */
@-moz-document url-prefix("chrome://browser/content/browser.xul") {
  #loop-button,
  #wrapper-loop-button {
    display: none !important;
    -moz-user-focus: ignore !important;
  }
}

/* Privacy-27-2 */
@-moz-document url-prefix("chrome://browser/content/browser.xul") {
  #menu_pocket,
  #menu_pocketSeparator,
  #BMB_pocket,
  #BMB_pocketSeparator,
  #panelMenu_pocket,
  #panelMenu_pocketSeparator,
  #pocket-button,
  #wrapper-pocket-button {
    display: none !important;
    -moz-user-focus: ignore !important;
  }
}

/* Startup-3-2 */
@-moz-document
  url-prefix("chrome://browser/content/preferences/in-content/preferences.xul"),
  url-prefix("about:preferences") {
  #defaultBrowserBox {
    visibility: collapse !important;
    -moz-user-focus: ignore !important;
  }
}
@-moz-document url-prefix("chrome://browser/content/preferences/preferences.xul") {
  #systemDefaultsGroup {
    visibility: collapse !important;
    -moz-user-focus: ignore !important;
  }
}

/* Websearch-2-2 */
@-moz-document
  url-prefix("chrome://browser/content/preferences/in-content/preferences.xul"),
  url-prefix("about:preferences") {
  #defaultEngine :-moz-any(
    menuitem[label="Bing"],
    menuitem[label="Amazon.co.jp"],
    menuitem[label="楽天市場"],
    menuitem[label="ヤフオク!"],
    menuitem[label="教えて！goo"],
    menuitem[label="Twitter"],
    menuitem[label="Wikipedia (ja)"],
    menuitem[label="DuckDuckGo"]
  ) {
    display: none !important;
    -moz-user-focus: ignore !important;
  }
}

/* Tab-7-5 */
@-moz-document
  url-prefix("about:newtab"),
  url-prefix("chrome://browser/content/newtab/newTab.xul")
  {
  *|*#newtab-customize-enhanced,
  *|*[id="newtab-customize-enhanced"] {
    display: none !important;
    -moz-user-focus: ignore !important;
  }
}

@-moz-document url-prefix("chrome://browser/content/browser.xul") {
  /* MenuShortcut-10 */
  #webDeveloperMenu,
  #developer-button,
  #wrapper-developer-button,
  /* MenuShortcut-11 */
  #key_devToolboxMenuItem,
  #key_devToolboxMenuItemF12,
  #Tools\:DevToolbox,
  /* MenuShortcut-12 */
  #key_inspector,
  #Tools\:inspector,
  #devtoolsMenuBroadcaster_inspector,
  #Tasks\:Inspector,
  /* MenuShortcut-13 */
  #key_webconsole,
  #Tools\:webconsole,
  #devtoolsMenuBroadcaster_webconsole,
  /* MenuShortcut-14 */
  #key_jsdebugger,
  #Tools\:jsdebugger,
  #devtoolsMenuBroadcaster_jsdebugger,
  /* MenuShortcut-15 */
  #key_styleeditor,
  #Tools\:styleeditor,
  #devtoolsMenuBroadcaster_styleeditor,
  /* MenuShortcut-16 */
  #key_performance,
  #Tools\:performance,
  #devtoolsMenuBroadcaster_performance,
  /* MenuShortcut-17 */
  #key_netmonitor,
  #Tools\:netmonitor,
  #devtoolsMenuBroadcaster_netmonitor,
  /* MenuShortcut-18 */
  #menu_devToolbar,
  #devtoolsMenuBroadcaster_DevToolbar,
  #key_devToolbar,
  /* MenuShortcut-20 */
  #menu_webide,
  #devtoolsMenuBroadcaster_webide,
  #key_webide,
  /* MenuShortcut-21 */
  #menu_browserToolbox,
  #devtoolsMenuBroadcaster_browserToolbox,
  /* MenuShortcut-22 */
  #menu_browserConsole,
  #devtoolsMenuBroadcaster_browserConsole,
  #key_browserConsole,
  /* MenuShortcut-23 */
  #menu_responsiveUI,
  #devtoolsMenuBroadcaster_responsiveUI,
  #key_responsiveUI,
  /* MenuShortcut-24 */
  #menu_eyedropper,
  #devtoolsMenuBroadcaster_eyedropper,
  /* MenuShortcut-25 */
  #key_scratchpad,
  #Tools\:Scratchpad,
  /* MenuShortcut-26 */
  #key_viewSource,
  #View\:PageSource,
  #devtoolsMenuBroadcaster_PageSource,
  #context-viewsource,
  #context-sep-viewsource,
  #context-viewpartialsource-selection,
  #context-viewpartialsource-mathml,
  /* MenuShortcut-27 */
  #javascriptConsole,
  #devtoolsMenuBroadcaster_ErrorConsole,
  #Tools\:ErrorConsole,
  /* MenuShortcut-28 */
  #menu_devtools_connect,
  #devtoolsMenuBroadcaster_connect,
  /* MenuShortcut-29 */
  #getMoreDevtools,
  #devtoolsMenuBroadcaster_GetMoreTools,
  /* MenuShortcut-31 */
  #menu_openTour,
  .subviewbutton[oncommand^='openTourPage'],
  /* MenuShortcut-33 */
  #healthReport,
  .subviewbutton[oncommand^='openHealthReport'],
  /* MenuShortcut-35 */
  #troubleShooting,
  .subviewbutton[oncommand^='openTroubleshootingPage'],
  /* MenuShortcut-36 */
  #feedbackPage,
  .subviewbutton[oncommand^='openFeedbackPage'],
  /* MenuShortcut-37 */
  #helpSafeMode,
  .subviewbutton[oncommand^='safeModeRestart'],
  /* MenuShortcut-45 */
  #context-marklinkMenu,
  /* MenuShortcut-46 */
  #context-sharelink,
  /* MenuShortcut-47 */
  #context-sendimage,
  /* MenuShortcut-48 */
  #context-shareimage,
  /* MenuShortcut-49 */
  #context-sendvideo,
  /* MenuShortcut-50 */
  #context-sharevideo,
  /* MenuShortcut-51 */
  #context-sendaudio,
  /* MenuShortcut-52 */
  #context-sharepage,
  /* MenuShortcut-53 */
  #context-markpageMenu,
  /* MenuShortcut-54 */
  #context-shareselect,
  /* MenuShortcut-55 */
  #context-setDesktopBackground,
  /* MenuShortcut-57 */
  #context-inspect,
  /* MenuShortcut-58 */
  #blockedPopupOptions menuitem[observes='blockedPopupAllowSite'],
  /* MenuShortcut-59 */
  #blockedPopupOptions menuitem[observes='blockedPopupEditSettings'],

  /* MenuShortcut-common */
  *[always-hidden="true"] {
    display: none !important;
    -moz-user-focus: ignore !important;
  }
}
